body {
background color: #f9f7fe;
font-family: helvetica,Arial,sans-serif;

}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-botttom: 30px;
}
.form-container{
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65,50,100,0.08);
  padding: 15px 20px;
}
form {
display:flex;
}
.hint {
line-height: 1.5;
margin-top: 5px;
opacity: 0.6;
font-size: 12px;


}
.instructions {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}


.submit-button{
margin-left: 10px;
background: #885df1;
color: white;
border: none;
width: 80px;
font-size: 16px;
border-radius: 50px;
padding: 17px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 12px;
  line-height: 20px;
  display: none; 
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39,33,66,0.03);
}
.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px; 
}

a {
  color: #885df1;
}
.poem strong {
  color: #885df1;

}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to { visibility: hidden; }
}

@-webkat-keyframes :blink-animation {
to {
visiblity:hidden
}
}