body {
background color: #f9f7fe;
font-family: helvetica,Arial,sans-serif;

}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-botttom: 30px;
}

form {
padding: 30px;
background-color: white;
border-radius: 10px;
display:flex;
box-shadow: 0px 20px 60px rgba(65,50,100,0.08);
margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  borderP: 1px solid rgba();
  padding: 1px solid rgba();
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button{
margin-left: 10px;
background: #885df1;
color: white;
border: none;
width: 15px;
font-size: 16px;
border-radius: 50px;
padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 12px;
  line-height: 20px;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39,33,66,0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px; 
}

a {
  color: #885df1;
}
